/* Ini CSS */
.section-content {
    background-color: coral;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.section-content>h3{
    margin: 0;
}

#switch-keliling {
    background-color: white;
    color: blue;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0px;
    width: 100%;
}

.formula-img {
    text-align: center;
}

img {
    height: 100px;
}

input {
    width: 100%;
}