/* Ini CSS */
.section-content {
    background-color: coral;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.section-content>h3{
    margin: 0;
}

h1{
    text-align: center;
    background-color: coral;
    color: white
}

#switch-keliling {
    background-color: lightblue;
    color: blue;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0px;
    width: 100%;
}

.formula-img {
    text-align: center;
}

img {
    height: 100px;
}

input {
    border-radius: 4px;
    background-color: peachpuff;
    border: 1px solid coral;
    width: 100%;
    padding: 4px;
    font-family: math;
}

form>button {
    padding: 18px;
    border-radius: 18px;
    border: 1px solid coral;
    background-color: peachpuff;
}

#reset-btn {
    background-color: brown;
    color: white;
}

body {
    background-color: lightblue;
    color: black
}